#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- -Dgui=false

override_dh_auto_install:
	dh_auto_install
	# Ensure systemd service is in the right place
	mkdir -p debian/cpugov-daemon/lib/systemd/system/
